{% extends 'base.html' %}

{% block title %} Password Reset Done {% endblock %}

{% block content %}

<div class="container-fluid">
    <div class="row">
      <div class="col-sm-3" ></div>
      <div class="col-sm-6" >
        <div class="panel panel-primary">
            <div class="panel-heading">پسورد تغییر یافت</div>
            <div class="panel-body">
                <p>پسورد شما با موفقیت تغییر کرد . میتوانید با پسورد جدید وارد شوید</p>
            </div>
          </div>
      </div>
      <div class="col-sm-3" ></div>
    </div>
  </div>

{% endblock %}