<div class="col-md">
    <div class="ftco-footer-widget mb-4">
        <h2 class="ftco-heading-2">وب روبیک</h2>
        <div class="block-23 mb-3">
            <ul>
                <li><span class="icon icon-map-marker"></span><span class="text">{{setting.address}}</span>
                </li>
                <li><a href="#"><span class="icon icon-phone"></span><span
                        class="text">{{setting.phone}}</span></a></li>
                <li><a href="#"><span class="icon icon-envelope"></span><span class="text">{{setting.website}}</span></a>
                </li>
            </ul>
        </div>
    </div>
</div>
