{% extends 'base.html' %}

{% block title %} ارتباط با ما  {% endblock %}

{% block content %}
 
<div class="container">
    <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="card" >
            <div class="card-body">
              <h5 class="card-title">اطلاعات تحویل گیرنده</h5>
              <p class="card-text">{{user.full_name}}</p>
              <p class="card-text">{{user.phone}}</p>
              <p class="card-text">{{user.full_address}}</p>
              <a href="{% url 'accounts:user-update'  user.pk %}" class="card-link">تعویض اطلاعات</a>
            </div>
          </div>
          </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-xl-7 ftco-animate">
             <div class="container">
    <div class="row">
        <div class="col-md-12 ftco-animate">
            <div class="card" >
            <div class="card-body">
              <h5 class="card-title">اطلاعات تحویل گیرنده</h5>
              <p class="card-text">{{user.full_name}}</p>
              <p class="card-text">{{user.phone}}</p>
              <p class="card-text">{{user.full_address}}</p>
              <a href="{% url 'accounts:user-update'  user.pk %}" class="card-link">تعویض اطلاعات</a>
            </div>
          </div>
          </div>
    </div>
</div>
                  <form action="{% url 'orders:coupon_apply' order.id %}" class="info" method="POST">
                    <div class="form-group">
                        <label for="">استفاده از حروف کوچک و بزرگ الزامیست</label>
                        {% csrf_token %}
                            {{ form }}
                        <input type="submit" value="اعمال">
                    </div>
                </form>
                  <div class="col-xl-5">
            <div class="row mt-5 pt-3">
                <div class="col-md-12 d-flex mb-5">
                    <div class="cart-detail cart-total p-3 p-md-4">
                        <h3 class="billing-heading mb-4">جمع کل صورتحساب</h3>
                        
                        {% if order.discount %}
                              <p class="d-flex">
                                  <span>تخفیف</span>
                                  <span>{{order.discount}} درصد</span>
                              </p>
                        {% endif %}
                              <hr>
                              <p class="d-flex total-price">
                                  <span>مجموع</span>
                                  <span>{{order.get_total_price}} تومان</span>
                              </p>
                              </div>
                </div>
                <div class="col-md-12">
                    <div class="cart-detail p-3 p-md-4">
                        <h3 class="billing-heading mb-4">روش های پرداخت</h3>
                                  <div class="form-group">
                                      <div class="col-md-12">
                                          <div class="radio">
                                             <label><input type="radio" name="optradio" class="mr-2"> از طریق درگاه بانکی</label>
                                          </div>
            
                </div>
            </div>
        </div> <!-- .col-md-8 -->
      </div>
    </div>
  </section> <!-- .section -->

{% endblock %}